In [1]:
print ('hello word')

hello word

In [ ]:
%pip install pandas sqlalchemy pymysql snowflake-connector-python snowflake-sqlalchemy ipython-sql

In [ ]:
from os import getenv
import pandas as pd
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
from dotenv import load_dotenv

In [4]:
load_dotenv()

True

In [5]:
%load_ext sql

In [6]:
user = getenv('MYSQL_USER')
password = getenv('MYSQL_PASSWORD')
database = getenv('MYSQL_DATABASE')
mysql_conn_string = f'mysql+pymysql://{user}:{password}@localhost/{database}'
mysql = create_engine(mysql_conn_string)

In [7]:
%sql $mysql_conn_string

In [8]:
snowflake_conn_string = URL(
    account= getenv('SNOWFLAKE_ACCOUNT'),
    user= getenv('SNOWFLAKE_USER'),
    password= getenv('SNOWFLAKE_PASSWORD'),
    database= getenv('SNOWFLAKE_DATABASE')
)
snowflake = create_engine(snowflake_conn_string)

In [9]:
oltp_tables = [
    'category', 
    'region', 
    'territory', 
    'customerdemographics', 
    'customer', 
    'custcustdemographics', 
    'employee', 
    'employeeterritory', 
    'supplier', 
    'product', 
    'shipper', 
    'salesorder',
    'orderdetail'

    ]

for table in oltp_tables:
    pd.read_sql_table(table,mysql).to_sql(
        name=table,
        con=snowflake,
        schema='staging',
        if_exists='replace',
        index=False
    )

In [10]:
%sql $snowflake_conn_string

In [ ]:
--FATO VENDAS--

In [ ]:
%%sql
CREATE OR REPLACE TABLE dw.FATO_VENDAS AS 
SELECT 
    so."orderId" AS IDPedido,                                      -- ID do Pedido
    od."productId" AS IDProduto,                                  -- ID do Produto
    so."custId" AS IDCliente,                                    -- ID do Cliente
    so."employeeId" AS IDFuncionario,                            -- ID do Funcionário
    so."orderDate" AS DataPedido,                                -- Data do Pedido
    od."QUANTITY" AS QuantidadeVendida,                         -- Quantidade Vendida
    od."unitPrice" AS PrecoUnitario,                            -- Preço Unitário
    od."DISCOUNT" AS Desconto,                                  -- Desconto
    ROUND(od."QUANTITY" * od."unitPrice" * (1 - od."DISCOUNT"), 2) AS TotalVenda  -- Total da Venda
FROM 
    NORTHWIND.STAGING."SALESORDER" so                           -- Tabela de Pedidos
INNER JOIN 
     NORTHWIND.STAGING."ORDERDETAIL" od ON so."orderId" = od."orderId"  -- Junção com detalhes do pedido
INNER JOIN 
  NORTHWIND.STAGING."PRODUCT" p ON od."productId" = p."productId"  -- Junção com produtos
GROUP BY 
    so."orderId", od."productId", so."custId", so."employeeId", so."orderDate", 
    od."QUANTITY", od."unitPrice", od."DISCOUNT";

In [ ]:
-- DIM_PRODUTOS --

In [ ]:

%%sql
CREATE OR REPLACE TABLE dw.DIM_PRODUTOS AS 
SELECT 
    p."productId" AS IDProduto,                               -- ID do Produto
    p."productName" AS NomeProduto,                          -- Nome do Produto
    p."categoryId" AS IDCategoria,                          -- ID da Categoria
    p."unitPrice" AS PrecoUnitario,                        -- Preço Unitário
    CASE 
        WHEN SUM(od."QUANTITY" * od."unitPrice") < 1000 THEN 'Em Queda'
        WHEN SUM(od."QUANTITY" * od."unitPrice") BETWEEN 1000 AND 5000 THEN 'Estável'
        WHEN SUM(od."QUANTITY" * od."unitPrice") > 5000 THEN 'Em Alta'
        ELSE 'Desconhecido' -- Para o caso de não haver vendas
    END AS StatusVenda                                    -- Status de Venda
FROM 
    NORTHWIND.STAGING."PRODUCT" p                           -- Tabela de Produtos
LEFT JOIN 
    NORTHWIND.STAGING."ORDERDETAIL" od ON p."productId" = od."productId"  -- Junção com detalhes do pedido
GROUP BY 
    p."productId", p."productName", p."categoryId", p."unitPrice"; -- Agrupando os resultados

In [ ]:
-- DIMENSÃO CLIENTES --

In [ ]:
%%sql
CREATE OR REPLACE TABLE dw.DIMENSAO_CLIENTES AS 
SELECT 
    c."custId" AS IDCliente,                               -- ID do Cliente
    c."companyName" AS NomeCliente,                        -- Nome do Cliente
    c."REGION" AS Regiao,                                  -- Região (categorização)
    COUNT(so."orderId") AS TotalPedidos,                  -- Total de Pedidos
    ROUND(SUM(od."QUANTITY" * od."unitPrice" * (1 - od."DISCOUNT")), 2) AS TotalGasto  -- Total Gasto
FROM 
    NORTHWIND.STAGING."CUSTOMER" c                        -- Tabela de Clientes
LEFT JOIN 
    NORTHWIND.STAGING."SALESORDER" so ON c."custId" = so."custId"  -- Junção com Pedidos
LEFT JOIN 
    NORTHWIND.STAGING."ORDERDETAIL" od ON so."orderId" = od."orderId"  -- Junção com detalhes do pedido
GROUP BY 
    c."custId", c."companyName", c."REGION";              -- Agrupando os resultados

In [ ]:
-- DIMENSÃO FUNCIONÁRIOS --

In [ ]:
%%sql
CREATE OR REPLACE TABLE dw.DIMENSAO_FUNCIONARIOS AS 
SELECT 
    e."employeeId" AS IDFuncionario,                                       -- ID do Funcionário
    CONCAT(e."FIRSTNAME", ' ', e."LASTNAME") AS NomeFuncionario,          -- Nome completo do Funcionário
    e."TITLE" AS Cargo,                                                   -- Cargo do Funcionário
    e."hireDate" AS DataAdmissao,                                        -- Data de Admissão
    COALESCE(SUM(od."QUANTITY" * od."unitPrice" * (1 - od."DISCOUNT")), 0) AS TotalVendas,  -- Total de Vendas
    COALESCE(SUM(od."QUANTITY" * od."unitPrice" * (1 - od."DISCOUNT")) * 0.05, 0) AS Comissao  -- Comissão como 5% do Total de Vendas
FROM 
    NORTHWIND.STAGING."EMPLOYEE" e                                       -- Tabela de Funcionários
LEFT JOIN 
    NORTHWIND.STAGING."SALESORDER" so ON e."employeeId" = so."employeeId"  -- Junção com Pedidos
LEFT JOIN 
    NORTHWIND.STAGING."ORDERDETAIL" od ON so."orderId" = od."orderId"    -- Junção com Detalhes do Pedido
GROUP BY 
    e."employeeId", e."FIRSTNAME", e."LASTNAME", e."TITLE", e."hireDate";  -- Agrupando os resultados

In [ ]:
-- DIMENSÃO CATEGORIA --

In [ ]:
%%sql
CREATE OR REPLACE TABLE dw.DIMENSAO_CATEGORIAS AS 
SELECT 
    c."categoryId" AS IDCategoria,                  -- ID da Categoria
    c."categoryName" AS NomeCategoria,              -- Nome da Categoria
    c."DESCRIPTION" AS DescricaoCategoria           -- Descrição da Categoria
FROM 
    NORTHWIND.STAGING."CATEGORY" c;                -- Tabela de Categorias

In [ ]:
-- DIMENSÃO TEMPO --

In [ ]:
%%sql
CREATE OR REPLACE TABLE dw.DIMENSAO_TEMPO AS 
SELECT 
    so."orderDate" AS DataPedido,                        -- Data do Pedido
    EXTRACT(YEAR FROM so."orderDate") AS Ano,          -- Ano
    EXTRACT(MONTH FROM so."orderDate") AS Mes,         -- Mês
    EXTRACT(QUARTER FROM so."orderDate") AS Trimestre   -- Trimestre
FROM 
    NORTHWIND.STAGING."SALESORDER" so                   -- Tabela de Pedidos
GROUP BY 
    so."orderDate";                                      -- Agrupando por Data do Pedido